[submodule "setup/vim-pathogen"]
	path = setup/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/LanguageClient-neovim"]
	path = bundle/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "bundle/nvim-completion-manager"]
	path = bundle/nvim-completion-manager
	url = https://github.com/roxma/nvim-completion-manager
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/benekastah/neomake
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
