[submodule "setup/vim-pathogen"]
	path = setup/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/LanguageClient-neovim"]
	path = bundle/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "bundle/nvim-completion-manager"]
	path = bundle/nvim-completion-manager
	url = https://github.com/roxma/nvim-completion-manager
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/benekastah/neomake
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/aperezdc/vim-template
[submodule "bundle/denite.nvim"]
	path = bundle/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "bundle/braceless.vim"]
	path = bundle/braceless.vim
	url = https://github.com/tweekmonster/braceless.vim
[submodule "bundle/vim-isort"]
	branch = develop
	path = bundle/vim-isort
	url = https://github.com/arielmakestuff/vim-isort
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
